:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--navy-blue);
  margin: 0;
}

span {
  color: var(--iris);
  font-family: var(--second-family);
}

/*  Стилі Header */

.header {
  background-color: var(--white);
  width: 100%;
}

.header-navigation {
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none; /* забрати підкреслення*/
  line-height: 21px;
  letter-spacing: 0.03em; /* відстань між символами */
  text-transform: uppercase; /* символи з великої букви */
  color: var(--navy-blue);
}
.header-list-naw {
}

.header-list-naw-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--navy-blue);
}

.header-list-naw .header-list-naw-item:hover {
  color: var(--ocean);
}

.header-list-naw .header-list-naw-item:active {
  color: var(--ocean);
  text-decoration: underline;
}

.addres-list,
li {
  list-style-type: none;
}

.address-list-item {
  color: var(--navy-blue);
  text-decoration: none;
}

.address-list-item:hover {
  color: var(--ocean);
}

/*  Стилі Main Banner*/
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1440px;
  height: 600px;
  position: relative;

  background-color: var(--navy-blue);
}

.main-banner-container {
  margin: auto;
  background: var(--navy-blue);
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  text-align: center;
}

.main-banner-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-banner-button {
  margin: auto;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}
.main-banner-button:hover {
  background-color: var(--ocean);
}

/*  #region studio*/
.strategy-studio {
}
.container {
  background-color: var(--white);
  width: 1128px;
  height: 104px;
}
.strategy-item {
  width: 264px;
  height: 104px;
  background-color: var(--white);
}
.strategy-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.strategy-item-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*  <!-- #region our teem --  portfolio -->  */

.ourteem {
  width: 1440px;
  height: 732px;
}
.h2heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.h3heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.peshka {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.footerclass {
  background-color: var(--navy-blue);
}

.footerlogo {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none; /* забрати підкреслення*/
  line-height: 21px;
  letter-spacing: 0.03em; /* відстань між символами */
  text-transform: uppercase; /* символи з великої букви */
  color: var(--cloud);
}

.peshkafooter {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
